/*
  Official portfolio design by Jhn
	systech.co | @Jevelopers
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Jerarquia tipográfica*/
  --font-primary: 'Squada One', cursive;
  --font-secondary: 'Play', sans-serif;
  --font-accent: 'Style Script', cursive;
  --font-text: 'Poppins', sans-serif;
  --font-logo: 'Monoton', cursive;
  /* Paleta de colores*/
  --color-primary: #07111a;
  --color-secondary: #525252;
  --color-text: #fff;
  --color-accent: #D89216;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.wrapper {
  width: 100%;
}

.title {
  font-family: var(--font-primary);
  color: var(--color-accent);
}

.subtitle {
  font-family: var(--font-secondary);
  text-transform: initial;
  color: var(--color-text);

}

.subtitle::before {
  content: '';
  display: inline-block;
  background-color: var(--color-text);
  width: 2rem;
  height: .1rem;
  margin: 5px 10px 5px 0;
}

.text {
  font-family: var(--font-text);
  color: var(--color-text);
  text-align: justify;
}

.image__responsive  {
  width: 35rem;
}

.image__responsive:hover {
  transform: scale(1.1);
}

.hgroud {
  margin-bottom: 2rem;
}

.button {
  font-family: var(--font-primary);
  font-size: 1rem;
  padding: .5rem 3rem .5rem 3rem;
  margin: 1rem 0;
  border-radius: 50rem;
}

.button__primary {
  font-size: 1.5rem;
  background: var(--color-primary);
  color: var(--color-text);
}

.button__primary:hover {
  background: transparent;
  color: var(--color-primary);
}

/* HEADER --> Encabezado principal 
*/

.header {
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: 0.6s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2vh 0;
}

.down {
  background: var(--color-primary);
}

.brand__link {
  text-decoration: none;
}

.brand__logo {
  font-family: var(--font-logo);
  font-size: 50px;
  color: var(--color-accent);
}

/* Navbar --> Barra de nevegacion*/
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__menu {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.nav__menu--extents {
  display: flex;
}

.item {
  list-style: none;
}

.item__link {
  text-decoration: none;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  margin-right: .5rem;
  color: var(--color-accent);
  text-transform: uppercase;
}


.item__link:hover {
  color: var(--color-secondary);
}

.item__link--extents,
.item__line {
  color: var(--color-secondary);
}

.btn-toggle__menu,
.btn-toggle__close i {
    color: var(--color-accent);
    cursor: pointer;
    display: none;
}

/* HEADER --> Encabezado principal 
*/

.header-content {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  background: no-repeat center;
  background: linear-gradient(#07111a, rgba(0, 0, 0, 0.6)), url('../asset/BackgroundSection1.jpg');
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(476px, 1fr));
  align-items: center;
  padding: 0 10rem;  
}

.header-content__header{
  display: flex;
  flex-direction: column;
}

.header-content__image {
  display: flex;
  justify-content: center;
}

.content__title {
  font-size: 6rem;
}

.content__title--subtitle {
  font-size: 4rem;
}

.content__text {
  font-size: 1rem;
}

.stack {
  margin: 1rem 0;
}

.stack__menu {
  display: flex;
  align-items: center;
}

.menu__item {
  list-style: none;
  color: var(--color-text);
  font-size: 2.5rem;
  margin-right: 1rem;
}

.menu__item:hover {
  color: var(--color-accent);
  transform: scale(1.1);
}

/* MAIN --> Contenido principal 
*/

.main {
 background: var(--color-accent);
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
}

/* SECCIÓN DE SOBRE MI --> Contenido principal 
*/
.about {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 10rem;
}

.image__responsive--about {
  width: 30rem;
}

.about-content__title {
  font-size: 6rem;
  color: var(--color-primary);
}

.about-content__text {
  font-size: 1.3rem;
}

/* SECCION DE PORTAFOLIO --> Contenido principal 
*/

.portafolio {
  margin: 0 10rem;
}

.portafolio-content__title {
  font-size: 6rem;
  color: var(--color-primary);

}

.portafolio__grid {
  width: 100%;
  height: 60vh;
  display: flex;
}

.proyect__section {
  position: relative;
  width: 80px;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: flex .5s;
  flex: 1;
  display: grid;
  --clip: circle(0 at center);
  --transition: clip-path .2s;
}
 
.proyect-section__content {
  position: absolute;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.proyect__section::before {
  content: '';
  display: grid;
  place-items: center;
  background-color: var(--color-primary);
  opacity: 85%;
  font-family: var(--font-primary);
  font-size: 2rem;
  clip-path: var(--clip);
  transition: var(--transition);

}

.proyect__section:hover {
  flex: 6;
  --clip: circle(180 at center);
  --transition: clip-path .4s .5s;
}

.proyect__section:nth-child(1) {
  background-image: url('../asset/BackgroundSection3.jpg');
}

.proyect__section:nth-child(2) {
  background-image: url('../asset/BackgroundSection2.jpg');

}

.proyect__section:nth-child(3) {
  background-image: url('../asset/BackgroundSection3.jpg');

}

.proyect__section:nth-child(4) {
  background-image: url('../asset/BackgroundSection1.jpg');

}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem;
}

.contact__title {
  font-size: 6rem;
  color: var(--color-primary);
}
/*
  Footer || ENCABEZADO PRINCIPAL
*/

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--color-primary);
  padding: 1rem 5rem;
}

.footer__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand__logo--footer {
  color: var(--color-accent);
}

.footer-section__text {
  font-size: .6rem;
}

.menu__social {
  display: flex;
  justify-content: end;
}

.item__social {
  list-style: none;
  font-size: 2rem;
  color: var(--color-text);
}

.item__link--footer:hover {
  color: var(--color-accent);
}

.footer__social {
  text-align: center;
}

.button-social__item--footer:hover {
  color: var(--color-primary);
}




/**
** Sitio responsive | Media query
*/

/*Diseño responsive Moviles */
@media screen and (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 12px ;
  }
  
  /* HEADER --> Encabezado principal 
*/
  .header-content {
    padding: 0 5rem;
  }

  .header-content__image {
    display: none;
  }

  .btn-toggle__menu,
  .btn-toggle__close i {
      display: block;
  }

  .navbar {
      position: fixed;
      background: var(--color-primary);
      min-width: 30vh;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 5vh;
      transition: 0.5s;
      transition-property: right;
  }
  
  .nav__menu {
      flex-direction: column;   
  }

  .item__link {
      font-size: 1.5rem;

  }

  .active {
      right: 0;
  }

  .btn-toggle__close {
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px;
  }

  .about {
    flex-direction: column;
  }

  .image__responsive--about {
    width: 15rem;
  }
}

/*Diseño responsive Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 15px ;
  }
  
  /* HEADER --> Encabezado principal 
*/
  .header-content {
    padding: 0 10rem;
  }

  .header-content__image {
    display: none;
  }
  
  .btn-toggle__menu,
  .btn-toggle__close i {
      display: block;
  }

  .navbar {
      position: fixed;
      background: var(--color-primary);
      min-width: 30vh;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 5vh;
      transition: 0.5s;
      transition-property: right;
  }
  
  .nav__menu {
      flex-direction: column;   
  }

  .item__link {
      font-size: 1.5rem;

  }

  .active {
      right: 0;
  }

  .btn-toggle__close {
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px;
  }
}


