/*
  Official portfolio design by Jhn
	systech.co | @Jevelopers
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Jerarquia tipográfica*/
  --font-primary: 'Squada One', cursive;
  --font-secondary: 'Montserrat', sans-serif;
  --font-accent: 'Style Script', cursive;
  --font-text: 'Roboto Condensed', sans-serif;
  --font-logo: 'Monoton', cursive;
  /* Paleta de colores*/
  --color-primary: #07111a;
  --color-secondary: #525252;
  --color-text: #fff;
  --color-accent: #D89216;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
}

/* HEADER --> Encabezado principal 
*/

.header {
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: 0.6s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2vh 0;

}


.down {
  background: var(--color-primary);
}

.brand__link {
  text-decoration: none;
}

.brand__logo {
  font-family: var(--font-logo);
  font-size: 50px;
  color: var(--color-accent);
}

/* Navbar --> Barra de nevegacion*/
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__menu--extents {
  display: flex;
}

.item {
  list-style: none;
}

.item__link {
  text-decoration: none;
  font-family: var(--font-secondary);
  font-size: 1rem;
  margin-right: 1.5vh;
  color: var(--color-accent);
  text-transform: uppercase;
}

.item__link:hover {
  color: var(--color-text);
}

.btn-toggle__menu,
.btn-toggle__close i {
    color: var(--color-accent);
    cursor: pointer;
    display: none;
}

/* HEADER --> Encabezado principal 
*/

.header-content {
  position: relative;
  width: 100%;
  background: no-repeat center;
  background: linear-gradient(#07111a, rgba(0, 0, 0, 0.8)), url('../asset/BackgroundSection1.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 20vh;
  padding: 0 20vh;
  
}

.header-content__header{
  display: flex;
  flex-direction: column;
}

.image__responsive  {
  width: 60vh;
}

.image__responsive:hover {
  transform: scale(1.1);
}

.title {
  font-family: var(--font-primary);
  color: var(--color-accent);
}

.subtitle {
  font-family: var(--font-secondary);
  color: var(--color-text);

}

.subtitle::before {
  content: '';
  display: inline-block;
  background-color: var(--color-text);
  width: 50px;
  height: 1px;
  margin: 5px 10px 5px 0;
}

.text {
  font-size: 20px;
  font-weight: 100;
  font-family: var(--font-text);
  color: var(--color-text);
  text-align: justify;
}

.content__subtitle {
  font-size: 15px;
}

.content__title {
  font-size: 90px;
}

.button {
  margin: 5vh 0;
}

.button-social__item {
  background-color: transparent;
  color: var(--color-text);
  font-size: 30px;
  margin-right: 2vh;
  border: none;

}

.button-social__item:hover {
  color: var(--color-accent);
}

/* MAIN --> Contenido principal 
*/

/*
  Footer || ENCABEZADO PRINCIPAL
*/

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  background: var(--color-accent);
  padding: 2vh 5vh;
}

.footer__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand__logo--footer {
  color: var(--color-primary);
}

.footer-section__text {
  font-size: 12px;
}

.item__link--footer {
  color: var(--color-text);

}

.item__link--footer:hover {
  color: var(--color-primary);
}

.footer__social {
  text-align: center;
}

.button-social__item--footer:hover {
  color: var(--color-primary);
}




/**
** Sitio responsive | Media query
*/
/*MEDIAS QUERY --> Diseño responsive Moviles */
@media screen and (min-width: 320px) and (max-width: 768px) {
  
  .header-content {
    padding: 0 5vh;

  }
  .header-content__header{

  }
  .header-content__image {
    display: none;
  }

  .header-content {
      padding: 0 20vh;
  }
 

  .btn-toggle__menu,
  .btn-toggle__close i {
      display: block;
  }


  .navbar {
      position: fixed;
      background: var(--color-primary);
      min-width: 30vh;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 5vh;
      transition: 0.5s;
      transition-property: right;
  }
  
  .nav__menu {
      flex-direction: column;   
  }

  .item__link {
      font-size: 1.5rem;

  }

  .active {
      right: 0;
  }

  .btn-toggle__close {
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px;
  }

  /*
  Footer || ENCABEZADO PRINCIPAL
*/

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,1fr);
  align-items: center;
  background: var(--color-accent);
  padding: 2vh 5vh;
}

.footer__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand__logo--footer {
  color: var(--color-primary);
}

.footer-section__text {
  font-size: 12px;
}

.item__link--footer {
  color: var(--color-text);
  font-size: 12px;

}

.item__link--footer:hover {
  color: var(--color-primary);
}

.footer__social {
  text-align: center;
}

.button-social__item--footer:hover {
  color: var(--color-primary);
}



}
